@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">
        Bem-Vindo
        <b class="lead">- ao Sistema de locação de veículos.</b>
    </h1>
</div>
<img src="" alt="">
