@model CarLocadora.Modelo.Modelos.UsuarioModel

@{
    ViewData["Title"] = "Create";
}

<h4 style="color: black;">Cadastrar Usuario</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="_Formulario" />
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
