@model CarLocadora.Modelo.Modelos.UsuarioModel

@{
    ViewData["Title"] = "Edit";
}

<h4 style="color: black;">Editar usuario</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="_Formulario" />
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
