@model CarLocadora.Modelo.Modelos.FormasDePagamentoModel

<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="DataInclusao" class="control-label"></label>
            <input asp-for="DataInclusao" class="form-control" disabled />
            <span asp-validation-for="DataInclusao" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="DataAlteracao" class="control-label"></label>
            <input asp-for="DataAlteracao" class="form-control" disabled />
            <span asp-validation-for="DataAlteracao" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
            </label>
        </div>
    </div>

</div>


<hr />
<div class="row">
    <div class="col-md-1">
        <div>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</div>
