@model CarLocadora.Modelo.Modelos.FormasDePagamentoModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar formas de pagamento</h4>
<hr class="bg-white" />

<div class="col-md-12">
    <form asp-action="Edit">
        <input asp-for="Id" type="hidden" />
        <input asp-for="DataInclusao" type="hidden" />
        <input asp-for="DataAlteracao" type="hidden" />
        <partial name="_Formulario" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
