@model CarLocadora.Modelo.Modelos.VeiculoModel

@{
    ViewData["Title"] = "Editar dados do Veiculo";
}

<h4>Editar veiculo</h4>
<hr class="bg-white" />

<form asp-action="Edit">
    <input asp-for="DataInclusao" type="hidden" />
    <input asp-for="DataAlteracao" type="hidden" />
    <partial name="_Formulario" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
